body{
    text-align: center;
}

#contact iframe{
   width: 100%;
}

.contact1 h3{
   display: inline;
}

.my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 99999;
}

input{
    margin-top: 5%;
    background:lightblue;
}